[2020-01-08 02:17] purplecabbage opened #3 "How do I add a generator?"
The directory structure is not obvious, so we need some documentation in the README about how to add a new generator so that it will be picked up by aio-cli-plugin-app init without any need to re-pub aio-cli-plugin-app.

[2020-01-08 10:35] moritzraho commented on #3
Thanks for the comment

@purplecabbage see the PR in aio-cli-plugin-app: https://github.com/adobe/aio-cli-plugin-app/pull/113

There is no need to republish the aio-cli-plugin-app, the only generator that init needs to know about is `app` which is loaded by default by yeoman when doing register/require (see https://github.com/adobe/aio-cli-plugin-app/pull/113/files#diff-f3f6f06974db8060723f7350db4

[2020-01-08 10:46] moritzraho commented on #3
Also in this PR I am adding your exc-shell generator as a new UI generator
https://github.com/adobe/generator-aio-app/pull/4

[2020-01-08 13:06] #3 closed

[2020-01-08 13:06] moritzraho commented on #3
fixed in #5

[2020-01-30 09:38] tripodsan opened #16 "documentation wrong: aio app deploy -s parameter does not exist"
### Expected Behaviour
the https://github.com/adobe/generator-aio-app/tree/master/generators/app/templates#deploy--cleanup has outdated description.

it should be matched to the actual commands
https://github.com/adobe/aio-cli#aio-appdeploy
[code]

proposed changes:

[2020-01-30 09:40] moritzraho commented on #16
@tripodsan thanks for reporting

[2020-01-30 10:30] #16 closed

[2020-02-05 17:33] DrewML opened #18 "Generated Code + Semicolons"
### Expected Behaviour
Hey! We're starting to work on some integrations with I/O functions on the Adobe side of things, and I spun up a new functions-only app with `aio app:init`.

I noticed that the example functions pulled in by the Yeoman generator are currently going semi-less. I _definitely_ am not looking to start a debate of which style is better.

However, Magento has a lot of folks that d

[2020-02-05 18:25] purplecabbage commented on #18
good callout, we already add jest by default, we could add eslintrc and dev dependency as well.

[2020-02-06 10:53] icaraps opened #19 ".gitignore is not created"
### Expected Behaviour
.gitignore is created

### Actual Behaviour
.gitignore is not created

#### Steps to Reproduce
`npm i -g @adobe/aio-cli && aio app init`

#### Platform and Version
`@adobe/aio-cli@3.0.0`

[2020-02-07 07:55] meryllblanchet commented on #19
cc @moritzraho

[2020-02-07 11:29] moritzraho commented on #19
@meryllblanchet  @icaraps ok I found the issue, npm is not including the .gitignore template file!

[2020-02-07 12:35] #19 closed

[2020-02-07 12:35] moritzraho commented on #19
fixed in #20

[2020-03-05 17:34] moritzraho opened #25 "delete last action should delete manifest (if empty) and actions folders"
if the manifest is empty and the last action has been deleted, the project should become a UI only project, by deleting:

-  manifest.yml
- actions/
- test/actions/
- e2e/actions
- more?

[2020-04-02 14:36] PulkitChadhaAdobe opened #29 "Util.js could have a non-web actionInvoke function"
Util.js could have a non-web actionInvoke function

I think it will be great if we have a function to invoke internal actions as the ones I have for authentication and backend processing. I started to write one but don’t quite know how to get the global parameters from

[2020-04-02 14:40] moritzraho commented on #29
@PulkitChadhaAdobe thanks for your input!

I don't think there are many use cases where it would make sense to invoke a non web function from the UI as you would need the AIO_RUNTIME_AUTH key to be accessible from the UI.
But maybe I am wrong :)
Could you tell us a little more on why do you need a non web action ?

[2020-04-21 09:32] moritzraho commented on #29
@PulkitChadhaAdobe closing that one as for now the UI should only invoke web actions, let me know if you feel it should be reopened

[2020-04-21 09:32] #29 closed

[2020-04-21 09:34] moritzraho commented on #18
+1 to generation of eslint config

[2020-04-22 01:24] purplecabbage opened #34 "Numerous uses of webAssetsDirname"
`const { webAssetsDirname } = require('../../lib/constants')`
We have several spots where generator code is reading `webAssetsDirname` from its own constants, however this is a dynamic folder-name that can differ from project to project.  The correct approach is to read `cna.web` from the .aio file in the project root.

[2020-04-28 14:33] moritzraho commented on #34
👍 this should be fixed in aio-cli-plugin-app checks too, e.g. https://github.com/adobe/aio-cli-plugin-app/blob/master/src/commands/app/deploy.js#L73

[2020-05-12 08:51] meryllblanchet commented on #34
@moritzraho @purplecabbage do you confirm that it is fixed?

[2020-05-12 15:58] icaraps opened #47 "Github action for release on production environment has no specified types"
Using the default Firefly App with `aio app init`, the github action `deploy_prod.yml` has no activity type defined by default see https://help.github.com/en/actions/reference/events-that-trigger-workflows#release-event-release.

This can result in unnecessary workflow runs e.g
<img width="938" alt="Screen Shot 2020-05-12 at 5 50 06 PM" src="https://user-images.githubusercontent.com/6012307/817165

[2020-05-16 05:52] sarahxxu opened #49 "Generator only allows logged in user"
### Expected Behaviour

[code]
should prompt me to log in. but if I don't have an Adobe ID, I should still be able to continue with this flow.

### Actual Behaviour

Generator does not allow me to not log in. Times out if the user is not logged in.

[code]

[2020-05-16 05:58] sarahxxu opened #50 "API Credentials loaded through console does not match credential name in manifest"
### Expected Behaviour

The API credentials loaded into `.env` should match the expected value in the manifest so that the user does not have to manually update this.

### Actual Behaviour

To take AEP API as an example, the credentials loaded into `.env` looks like this
[code]

while the manifest expects
[code]

#### Steps to Reproduce

1. create project in console with AEP api subscription
1. lo

[2020-05-16 14:52] meryllblanchet commented on #50
1. Please filter the variables. Ideally, .env should contain only what is needed (Runtime credentials, API Keys, tenant Ids)
2. The tenant Id cannot be retrieved in an automated manner. So please the variable value as a placeholder for the developer to fill. We'll document it.
3. Uppercase everything to keep consistency in the output
4. Make sure that the .env variable names match what we expect i

[2020-05-18 08:26] shazron opened #51 "fix npm warning for @adobe/wskdebug"
@adobe/wskdebug@1.1.3 deprecated: Renamed to @openwhisk/wskdebug as the project has moved to Apache OpenWhisk

[2020-05-19 10:51] shazron opened #53 "missing dependencies"
[code]

are these false positives because the dep will be added later?

[2020-05-19 13:02] moritzraho commented on #53
@shazron Yes all those  are template files and not used by the generator but by the generated project which will have its own package.json
Thanks for checking !
will close

[2020-05-19 13:02] #53 closed

[2020-05-29 00:40] purplecabbage commented on #25
this to me is so minor that we should just close it ...

[2020-05-29 07:55] meryllblanchet commented on #25
Let's leave it open. This could be the opportunity for a first contribution for someone ;)

[2020-05-29 08:02] #50 closed

[2020-05-29 08:06] meryllblanchet opened #58 "React-Spectrum SPA generator enhancements"
@icaraps has several proposals to improve the generator:

- Prevent usage of UNSAFE_className
- Routing samples

He's going to add more details and contribute to the proposed changes.

[2020-05-29 09:29] sandeep-paliwal commented on #47
Added PR - https://github.com/adobe/generator-aio-app/pull/59

[2020-06-01 13:06] icaraps commented on #58
I propose to enhance the current template with:
* Use the Grid layout as shown in the example https://reactspectrum.blob.core.windows.net/reactspectrum/3b9f6d3876c63cd08a3563867dcb1f63675ac8b9/docs/react-spectrum/layout.html#defining-grids to better structure the global layout of the App with a header, sidenav, main content and optionally footer
* Leverage react-router HashRouter to showcase routi

[2020-06-01 13:30] duynguyen commented on #58
+1 for using react spectrum recommended styling and grid layout.
I doubt everybody will need HashRouter (which then becomes a hassle to remove for anyone not needing it). I would rather create sample apps for router instead of embedding it directly in the template.

[2020-06-01 22:49] #51 closed

[2020-06-02 14:38] duynguyen opened #64 "App name should not contain upper case chars"
Generated app by `aio app init` automatically uses project name on I/O Console as app name in package.json, e.g. `LooseScarletSwallow`.
This is not compliant with npm convention [1], quoting: "New packages must not have uppercase letters in the name." VSCode complains about the same: `String does not match the pattern of "^(?:@[a-z0-9-*~][a-z0-9-*._~]*/)?[a-z0-9-~][a-z0-9-._~]*$"`.

Of course the

[2020-06-02 21:32] purplecabbage opened #65 "Support multiple test frameworks"
Currently everything is very opinionated towards the use of jest
Some templates / actions might come with their own opinions, so we should allow multiple test methods and have it overridable in package.json scripts/test.

Phase 1:
- allow the use of  --passWithNoTests by default, in case action templates no not add any jest tests
Phase 2:
- something more robust

[2020-06-03 06:23] #47 closed

[2020-06-03 08:52] meryllblanchet commented on #65
@purplecabbage would the first option be sufficient until we have a clear requirement that would need to "something more robust"?

cc @sarahxxu

[2020-06-03 12:59] icaraps opened #66 "Add new option to create a GitHub repository during init"
It would be a handy feature to be able to create a repository on github from the CLI directly as a new option when doing `aio app init` e.g `Would you like to create a repository on GitHub ?` or something like that.
By doing that, I can imagine that it would be possible to set the secrets using the GitHub API for CI/CD during the same process so that users don't have to do it manually.

That's an

[2020-06-05 12:25] icaraps commented on #58
As for the React app itself, IMO it should be based on https://github.com/facebook/create-react-app to enforce best practices.

[2020-06-16 18:06] purplecabbage commented on #65
first option is implemented

[2020-06-16 18:06] #65 closed

[2020-06-18 11:39] icaraps commented on #58
Also I wonder why there's a 404.html file ? I thought the ExC Shell is already handling 404s ?

[2020-06-18 11:58] meryllblanchet commented on #58
@rajarju @purplecabbage could you have a look?

[2020-06-18 15:19] meryllblanchet opened #70 "`aio app add auth` is obsolete and must be removed"
Now that we have a different flow for passing tokens for both headless apps and SPAs, we must remove the `aio app add auth` command and related documentation.

cc @sarahxxu

[2020-06-22 14:56] meryllblanchet opened #71 "NodeJS 12 support for Project Firefly Apps"
As I/O Runtime now supports the nodejs:12 kind, we can support Project Firefly Apps with v12 by default.
This means:

- Update the manifest.yml generation with the appropriate container kind
- Add the [engines](https://docs.npmjs.com/files/package.json#engines) directive to the generated app package.json

All our open sourced repositories (CLI, Plugins and SDK libraries) are already tested against

[2020-06-25 01:00] purplecabbage opened #73 "change web template text 'Firefly SDK'"
### Expected Behaviour

It should say 'Adobe I/O SDK'

[2020-06-25 06:55] purplecabbage commented on #73
Done

[2020-06-25 06:56] #73 closed

[2020-06-25 18:29] purplecabbage commented on #66
I would like to downvote this, I don't think the cli is the place for this to happen.

[2020-06-29 05:34] #70 closed

[2020-07-06 16:56] duynguyen opened #75 "Enhancement for default app UI"
The current app UI auto-generated when "web assets" is enabled is good for trying out the backend actions.
However the textfield for json inputs of headers and params are not intuitive. A textarea would be better for them.

[2020-07-07 01:37] purplecabbage opened #76 "double import"
we are requiring @adobe/aio-sdk twice
Here is a screenshot from Sarah's youtube demo

<img width="798" alt="Screen Shot 2020-07-06 at 6 33 56 PM" src="https://user-images.githubusercontent.com/46134/86684817-c009a780-bfb7-11ea-8e92-2e348369e1e1.png">

[2020-07-10 02:50] tmathern opened #78 "Use Adobe Asset Compute SDK v2 in Asset Compute generator"
### Expected Behaviour
Generators should generate up-to-date workers

### Actual Behaviour
Generator still uses Adobe Asset Compute SDK v1

### Reproduce Scenario (including but not limited to)
Generate a new worker

#### Steps to Reproduce
Generate a new worker

#### Platform and Version
Latest

[2020-07-14 00:56] #78 closed

[2020-07-18 16:35] alexkli opened #84 "gitignore build directory"
### Expected Behaviour

It was previously discussed that the `build` directory is used for temporary purposes during build or testing. The Asset Compute worker test tooling uses it for that.

Hence it should be added to `.gitignore` of projects created.

### Actual Behaviour

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

#### Platform and Version

#### Sample Code

[2020-07-20 15:48] meryllblanchet commented on #76
@sandeep-paliwal could you check if it is only in the Analytics SDK library or recurring cross libraries?

[2020-07-20 16:03] moritzraho commented on #76
that's everywhere, but it's not breaking anything, it's allowed in node.

we need to fix the way the generators add require statements to the stub action, e.g. this is how the analytics generator adds the extra require https://github.com/adobe/generator-aio-app/blob/master/generators/add-action/analytics/index.js#L26, but the stub action template already requires `{ Core }` https://github.com/adob

[2020-08-14 07:45] kptdobe opened #91 "Initial generated app is broken"
I just used `aio app init helix-purge`, went through all steps, run locally, open browser and I get a weird error message.

### Expected Behaviour
I expect a basic default app showing me "something working".

If more steps are required, I would expect to be informed.

### Actual Behaviour
I get error message "Something went wrong :("

#### Steps to Reproduce

Run `aio app init helix-purge`.
Select

[2020-08-14 07:47] meryllblanchet commented on #91
Thanks for reporting the issue, @kptdobe !
Could I ask you to use `aio info` and add the output into a comment? This will be helpful for us to support further.

[2020-08-14 07:52] kptdobe commented on #91
[code]

[2020-08-14 08:02] meryllblanchet commented on #91
Solved together with @kptdobe: the user installed `@adobe/aio-cli-plugin-app 3.2.0` plugin has been uninstalled, reverting to the latest `@adobe/aio-cli-plugin-app 3.5.1 (core)` embedded within `@adobe/aio-cli: 3.7.0`.

[2020-08-14 08:02] #91 closed

[2020-08-14 08:04] kptdobe commented on #91
Thanks @meryllblanchet for the support!

Note that before uninstalling the user plugin, I ran:

[code]

I think the current version displayed here should have been `3.2.0` here (see info above) and not `3.5.1`. Might be a bug.

[2020-08-14 08:07] meryllblanchet commented on #91
@shazron, could this be a bug in the `aio update` listing?

[2020-08-14 09:46] shazron commented on #91
I did a code inspection. The `current` version is read from disk https://github.com/adobe/aio-cli/blob/d9882ade89625c24f68999fb7cbe70d04e189fa7/src/commands/update.js#L141. It's possible that it could have gone out of sync (updated async somehow)

[2020-08-31 12:44] #58 closed

[2020-08-31 12:44] #75 closed

[2020-08-31 13:06] #71 closed

[2020-09-01 09:25] rajarju opened #93 "Customise/Restyle listbox for sidebar nav"
### Expected Behaviour
With the new SPA template we use list box element for sidebar navigation
The list element still retains some of its native functions and styles

https://github.com/adobe/generator-aio-app/pull/90#pullrequestreview-475062156

### Actual Behaviour
Should look like standard nav links
### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

#### Platform a

[2020-09-01 09:45] kptdobe opened #94 "Upload CI/CD secrets to GitHub"
This is a nice to have.

When the app is created, it comes with a nice CI/CD config which requires 4 secrets (prod and staging namespace and auth). The first thing to do to finish the setup is to find those 4 secrets somewhere in the Console (not obvious) and paste them in the GitHub Secrets store. This is well documented but could be automated for a greater developer experience!

### Expected Beh

[2020-09-01 09:55] meryllblanchet commented on #94
Thanks for the feedback and feature request, @kptdobe !

@sarahxxu , what about enhancing the CI/CD generator accordingly?

[2020-09-02 05:32] meryllblanchet opened #95 "Realign the web-src folder to be consistent with create-react"
### Expected Behaviour
Developers familiar with React apps will expect our web-src folder to be consistent with Create React.
See https://github.com/facebook/create-react-app.

### Actual Behaviour
Right now, this is not the case.

[2020-09-02 05:35] meryllblanchet opened #96 "Expose a supplementary bare html/css/js front-end template"
### Expected Behaviour
Some of our users want to leverage something else than React-Spectrum and ask for a pretty simple template to start with.

### Actual Behaviour
The React Spectrum based template is the only one available.
https://github.com/adobe/generator-aio-app/tree/master/generators/add-web-assets/raw should be reused as a starting point.

[2020-09-11 01:54] #93 closed

[2020-09-14 07:37] #76 closed

[2020-09-14 22:05] purplecabbage opened #100 "logs disappear - enable `x-ow-extra-logging: on`"
### Expected Behaviour

### Actual Behaviour

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

#### Platform and Version

#### Sample Code that illustrates the problem

#### Logs taken while reproducing problem

[2020-09-15 09:36] meryllblanchet commented on #100
@rajarju fyi, this is related to https://github.com/adobe/aio-cli-plugin-runtime/issues/146

[2020-09-21 11:59] theManikJindal opened #102 "The button to invoke Runtime Actions from the UI in the generated SPA transitions to disabled state erroneously"
#### Steps to Reproduce

1. Create a New Project on the Developer Console (make sure to not use the firefly template)
2. Go to your terminal and run aio app init using the project created in step 1 and the Production (default) workspace. Make sure to add at least one Runtime action.
3. On your terminal run aio app run
4. Go to the URL where your SPA is running (https://localhost:9080)
5. In the na

[2020-09-21 12:01] meryllblanchet commented on #102
Thanks for reporting this issue, @theManikJindal !

@rajarju could you have a look?

[2020-09-25 19:18] sarahxxu opened #104 "Stage Firefly app url not printed in GitHub workflows"
### Expected Behaviour

We should print out the url to the deployed Firefly app when the GitHub workflow completes.

### Actual Behaviour

Customer has deployed his app to stage through the OOTB github actions and monitored that the workflow in github finished successfully. But he's unable to see the url as the namespace is considered a github secret. (see screenshot for example)

![image (10)](ht

[2020-09-28 08:49] meryllblanchet commented on #104
Note: the namespace name *is currently* handled as a Github secret.

Question 1): would it be fine to *not* handle it as a secret?
Question 2): @sandeep-paliwal  in that case, what alternatives would we have to pass it as a regular environment variable to the Github action?

[2020-09-28 09:25] sandeep-paliwal commented on #104
We can handle it as an env variable, which is set in `.github/workflows/<filename>.yml` files.
Here we can have two options

1. Set this env variable in file when the app is generated (only for namespace), and remove step to add namespace as GH secret from documentation.
2. Let users set it manually, update docs accordingly

WDYT?

[2020-09-28 09:43] meryllblanchet commented on #104
Thanks @sandeep-paliwal ! I think it could be a mix of 1) set the variable upon app creation and 2) document where it is set and how this is working.

Let's first get @sarahxxu 's confirmation that we can handle the namespace name as a regular environment variable and not as a secret.

I'll then move the issue to the GH actions repository.

[2020-09-29 10:59] elagun opened #105 "Authentication Headers are not sent when invoking Runtime Actions from the UI"
### Expected Behaviour
When selecting and action and providing an auth header JSON in the app actions form (`web-src/src/components/ActionsForm.js`)
the headers should be sent with the request when the `invoke` button is clicked.

### Actual Behaviour
The provided auth header JSON is not sent with the request (headers retrieved from the state var in method `invokeAction@132` are empty), hence the

[2020-09-29 11:27] meryllblanchet commented on #105
Thanks for reporting the issue, @elagun ! We'll have a look into it.

[2020-09-29 11:31] moritzraho commented on #105
looking into this :)

[2020-09-29 12:13] moritzraho commented on #105
@elagun could you provide the output from `aio info` ?
Also can you double check that the content of the `headers (optional)` field in the form is structured as follows: `{ "authorization": "Bearer xxx" }`

[2020-09-29 12:19] elagun commented on #105
@moritzraho
  System:
    OS: Windows 10 10.0.18362
  Binaries:
    Node: 12.18.4
    Yarn: Not Found
    npm: 6.14.6
  Virtualization:
    Docker: 19.03.12
  npmGlobalPackages:
    @adobe/aio-cli: Not Found
  CLI plugins:
    @adobe/aio-cli 3.7.0 (core)
    @adobe/aio-cli-plugin-app 4.0.0 (user)
    @adobe/aio-cli-plugin-auth 2.4.0 (core)
    @adobe/aio-cli-plugin-certificate 0.2.0 (core)
    @ad

[2020-09-29 12:23] moritzraho commented on #105
Ok @elagun thanks for double checking, I tried myself and confirm that there is a bug, will investigate more in the hope to find a quick fix

[2020-09-29 12:24] meryllblanchet commented on #105
Thanks for the quick check @moritzraho !

[2020-09-29 12:32] moritzraho commented on #105
@elagun I am currently working on a PR to fix this in our application generators, but maybe in the meantime you could try the following in your app:
  - everytime you see a `setState` call in your code add `...state` to the object,
  - e.g.:
replace
[code]
with
[code]

[2020-09-29 13:30] elagun commented on #105
@moritzraho Yes, I can confirm that the fix works, because it does not overwrite/clear the React state when updating each element. This also fixes the related issue #102, the root cause is the same.

[2020-09-29 14:07] #102 closed

[2020-09-29 14:09] #105 closed

[2020-09-29 14:09] moritzraho commented on #105
fixed in #106

[2020-10-08 17:51] #96 closed

[2020-10-08 17:51] #100 closed

[2020-11-04 10:53] icaraps opened #111 "No lock file for dependency management by default ?"
When running `aio app init`, there's a package.json that defines dependencies but there is no lock file by default. This can lead to dependencies issues i.e it can work on a person's machine but fail on another machine with the same package.json since downloaded dependencies can be different versions.

There are sometimes good reasons to not have a lock file but IMO for web apps, it's much better

[2020-11-04 10:58] meryllblanchet commented on #111
Thanks for the feedback @icaraps .

cc @rajarju for follow-up

[2020-11-04 14:08] PulkitXChadha opened #112 "Githib Action Workflows does not read API key from secrets"
### Expected Behaviour
While deploying an app in Stage and prod the GitHub action should deploy a functioning app in stage and production.

### Actual Behaviour
The CI/CD of the firefly app with GitHub actions does not deploy the app with an API key. The app fails with 'api key' missing error below
"error": "missing parameter(s) 'apiKey'"

### Reproduce Scenario (including but not limited to)

###

[2020-11-04 17:42] purplecabbage commented on #111
This is the expected behavior.  We follow semver and make sure our updates do not break `app init`
Otherwise we will need to update the package-lock every time we want one of our dependent libraries updated.

[2020-11-05 09:28] meryllblanchet commented on #111
Thanks for the update, @purplecabbage !

In that case, let's close this one for now.

[2020-11-05 09:28] #111 closed

[2020-11-05 09:37] icaraps commented on #111
Yes but there are dependencies you don't control.
Not having a lock file works as long as we expect users to always use the latest CLI and app plugin which I imagine is the case.

Users using older versions of the app plugin can run into build troubles without a lock file. I just wanted to point that out.

[2020-11-05 11:49] moritzraho commented on #111
@shazron shared this one once https://github.com/adobe/aio-lib-core-tvm/issues/13, I think it makes sense to have a package-lock for apps. If users do `npm install @adobe/aio-sdk` they get the latest version + update in the package lock anyways

[2020-11-05 11:52] icaraps opened #113 "@spectrum-icons/workflow dependency is missing"
If you chose the react app with `aio app init`, when you try to build the app you will face the issue: `Error: Cannot find module '@spectrum-icons/workflow'`

This seems to be because an icon from that package is imported here https://github.com/adobe/generator-aio-app/blob/0e7e61bb623dec763ddf5ce89cacf12667ae4c99/generators/add-web-assets/exc-react/templates/src/components/ActionsForm.js#L31

but

[2020-11-05 12:28] icaraps commented on #113
Here's the PR https://github.com/adobe/generator-aio-app/pull/114

[2020-11-05 15:03] meryllblanchet commented on #113
Thanks for this contribution @icaraps !
@rajarju @purplecabbage could you have a look at PR #114 ?

[2020-11-05 19:20] #113 closed

[2020-11-06 08:35] icaraps commented on #111
Is there are way to always use the latest version of the app generator eg with `npx` ?

For example the create react app generator used to be installed globally but they moved to recommend the usage of `npx` so you always get the latest see https://github.com/facebook/create-react-app#quick-overview

[2020-11-06 09:49] moritzraho commented on #111
Ok interesting. However, that wouldn't work, because the app generator is only a small part of it and it is used by the app plugin which in turn is exposed via the aio-cli... Unlike `create-react-app` the generator is internal and not exposed to the user. We also need the generator version to be in sync with various plugins and sdks versions, for both `aio app init` to work but also downstream `ai

[2020-11-06 09:56] icaraps commented on #111
Well AFAIU you don't plan to add the package-lock so I was just thinking about alternatives. I guess you could also just warn the user if he's not using the latest version. I think you're already doing it somewhere else right ?

[2020-11-06 10:07] moritzraho commented on #111
Ok, yes we do it for the CLI (on every command) but not for the `aio-sdk` (which is the one aio dependency inside apps - used for backend mostly), we could warn for new majors for `@adobe/aio-sdk` on `npm  install`s in the app folder.
But that wouldn't solve react issues or other 3rd party dependencies.. I actually think it would make sense to have the package-lock inside the app folder but not in

[2020-11-06 10:10] moritzraho commented on #111
Actually I think I got confused, if you do `aio app init` and follow the installation, a package-lock should be generated there, isn't it enough ?

[2020-11-06 10:18] moritzraho commented on #111
yup for the CLI warns when running a command, but not for the `aio-sdk` which is used mostly in backend actions

[2020-11-06 10:37] icaraps commented on #111
The installation of dependencies are currently based on the package.json definition since there's no lock file. Someone who was an older version of the app generator can run into trouble because of that.

For example, I'm pretty sure that someone using the app generator released a few months ago, when you had the different react-spectrum components defined individually as dependencies, won't be ab

[2020-11-06 11:02] moritzraho commented on #111
Ok got it sorry for the noise then, I thought the issue was about the app install not generating a package-lock at all, while you are suggesting to provide a package-lock on app generation before the first installation.
One complexity here is that we dynamically add dependencies based on the user choices, e.g. you won't get the same dependencies if you choose only a UI vs UI+actions vs actions+eve

[2020-11-17 12:16] Buuhuu opened #115 "Rename default branch for deploy_stage workflow"
Recently GitHub changed the naming recommendation in order to discontinue the use of the term `master`. On GitHub the main branch is/will become `main`, see https://github.com/github/renaming for more details.

It would be great if the deploy_stage workflow would point to `main` per default too:

### Current Behaviour

https://github.com/adobe/generator-aio-app/blob/master/generators/add-ci/.githu

[2020-11-17 12:31] meryllblanchet commented on #115
Thanks for the proposal, @Buuhuu !

We'll certainly address that while working on other enhancements related to our current CI/CD support.

[2020-11-23 15:45] shazron opened #117 "Migrate from Travis CI to Github Actions"
This whole repo needs to be upgraded to use Github Actions (migrate from Travis) so the pull request can run tests.

## Changes:
1. See https://github.com/adobe/aio-cli-plugin-app/blob/master/.github/workflows/node.js.yml for the Github Workflow file, add it
2. Remove .travis.yml
3. Update the build badge in README.md
4. Update Settings/Branches/master to allow the required checks

The Github Acti

[2020-11-24 09:13] #117 closed

[2020-11-24 13:00] #115 closed

[2020-12-04 13:47] duynguyen opened #119 "Add HTTP method option to actionWebInvoke"
The `actionWebInvoke` method in [web-src/utils.js](https://github.com/adobe/generator-aio-app/blob/bae82d246ddf49d33b40f8139fbd3e6c462052ff/generators/add-web-assets/raw/templates/src/utils.js#L27) provides the OOTB functionality to invoke web action. It uses POST requests for everything.
In reality some requests are much better to be GET, e.g. by using cache-control to cache HTTP response. Theref

[2020-12-14 10:44] meryllblanchet commented on #119
Thanks for the suggestion, @duynguyen !

[2021-01-11 13:58] meryllblanchet opened #121 "During project development, a developer should be able to add services from the CLI (within app generator)."
aio app add/delete service(s) (prompts to select services to add, rewrites app aio config)

[2021-01-26 00:29] purplecabbage opened #124 "Add action may not need to run npm install"
When running `aio app add action` many times package.json is NOT modified, but we still run `npm install` which takes a around 10 seconds every time.

### Expected Behaviour
package.json not modified, npm install NOT run

### Actual Behaviour
package.json not modified, npm install IS run

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

#### Platform and Version

###

[2021-01-26 00:38] purplecabbage opened #125 "Add action should have a remove .."
`aio app add action` makes it simple to add an action to a project.
The developer does not need to know that the tooling added actions/generic-1/ or added test/actions/generic-1.test.js, or that it changed package.json, or manifest.yml .... however, if the developer wants to remove the action, they need to know all these things ...
forgetting to remove the tests/generic-1... will make the tests fa

[2021-01-26 02:28] shazron opened #126 "VS Code Config: add `killBehavior: polite` entry for `pwa-node` configuration"
for `pwa-node` configuration, need to add `killBehavior: polite` entry:
https://github.com/apache/openwhisk-wskdebug/issues/74#issuecomment-733996394

[2021-01-26 04:37] #126 closed

[2021-02-01 11:00] rajarju commented on #119
I think using POST for all requests is not right.
To keep things simple, we could switch between POST and GET based on params passed.
If there are no params passed we can use a GET else use POST

[2021-02-01 11:04] duynguyen commented on #119
yes +1 @rajarju !

[2021-02-05 16:50] icaraps opened #130 "Refactor utililty functions out of generator into separate aio-utils npm package"
WDYT about moving all the utils functions into a separate npm package eg @adobe/aio-utils instead of generating the files in the templates ?

These ones to be precise:
* https://github.com/adobe/generator-aio-app/blob/master/generators/common-templates/utils.js
* https://github.com/adobe/generator-aio-app/blob/master/generators/add-web-assets/raw/templates/src/utils.js
* https://github.com/adobe/g

[2021-02-05 16:51] meryllblanchet commented on #130
Thanks for the suggestion @icaraps !

@purplecabbage @rajarju wdyt?

[2021-02-08 05:22] rajarju commented on #130
I think its a good Idea
It will also make it easier to replace UI code for devs and still use the utils if needed from the `aio-utils` package

[2021-02-11 01:33] #119 closed

[2021-02-11 01:36] purplecabbage commented on #130
https://git.corp.adobe.com/CNA/aio-exc-app
Needs to be oss by @macdonst

[2021-03-04 10:41] moritzraho opened #134 "Update to yeoman-generators v5 when nonsupporting node 10 (npm audit issue)"
## Description

We can't update to `yeoman-generators@5.x` now because v5 does not support node 10, which we still support. Once we add support for node 14 we can drop support for node 10 which is planned to be EOL by April and update yeoman.

The update should happen in `@adobe/generator-aio-console` too

In addition a snyk vulnerability that does not affect us is exposed by `yeoman-generators@4.

[2021-03-04 10:57] shazron commented on #134
[code]
The fix is `mem-fs-editor` module needs at least ejs@3.1.6

However, I don't think updating yeoman will even fix the vulnerability. `mem-fs-editor` has `ejs` locked at 3.1.5: https://github.com/SBoudrias/mem-fs-editor/blob/3ff18e26c52dc30d8f371bcc72c1884f2ea706d6/package-lock.json#L1586

[2021-05-08 23:54] drewrobinson opened #140 "aio app run should not fail due to zipped action folder"
### Expected Behaviour
zipped action folder with proper package.json should be supported

### Actual Behaviour
aio app run command currently fails due to a bug in the add-vscode-config generator.

### Reproduce Scenario (including but not limited to)
zip action folders are necessary for providing resources to actions in a more secure manner.
the readme.md file states developers have two options to

[2021-05-10 08:37] meryllblanchet commented on #140
Thanks for opening the issue @drewrobinson and for sending a PR! We're looking at it.

[2021-05-12 09:54] #140 closed

[2021-05-16 08:14] larsroettig opened #143 "Security Server-Side Request Forgery"
### Expected Behaviour
- `app init ` schould use `cloudevents`

### Actual Behaviour
- app init use the outdated packed `cloudevents-sdk`  https://github.com/adobe/generator-aio-app/blob/efd171bf226b041e0b738f36e813defb13a07fb0/generators/add-events/publish-events/index.js

**Context:** https://www.npmjs.com/package/cloudevents-sdk

### Reproduce Scenario (including but not limited to)

#### Steps

[2021-05-16 16:48] shazron commented on #143
The axios dependency was not updated until `cloudevents` v4.x (which is when the module was renamed) so updating to v2 or v3 will not fix this (where there is no API impact).

The impact of this major version change is we need to test it for the breaking changes listed here: https://github.com/cloudevents/sdk-javascript/tree/v4.0.0

[2021-05-16 16:56] larsroettig commented on #143
Hi Shazron,
is there a good way to test this major will not breaking?

For me would be better if npm audit don't throw security issues our clients
and CTO are really Sensitive about security.

Best wishes,

Lars

Shazron Abdullah ***@***.***> schrieb am So. 16. Mai 2021 um
18:48:

--

 <https://www.techdivision.com>

*TechDivision GmbH*

Spinnereiinsel 3a
83059 Kolbermoor
*Lars Röttig*
Senior Soft

[2021-05-17 05:56] shazron commented on #143
@larsroettig Not sure the impact without further investigation. Will update this issue once I know more.

[2021-05-17 07:07] shazron commented on #143
The impact is here:
1. We need to create a cloudevent object with the v1 spec using the cloudevents 4.0 sdk, replacing this code: https://github.com/adobe/generator-aio-app/blob/0aa220544804b28b743161951d080260bb06b6e5/generators/add-events/publish-events/index.js#L27-L36
2. We need to make sure that the cloudevent (spec v1) object generated is used successfully in `aio-lib-events` https://github.

[2021-05-17 08:06] meryllblanchet commented on #143
Let's add @sangeetha5491 and @sgera to the discussion to get their feedback.

[2021-05-18 16:32] rperelma commented on #143
https://jira.corp.adobe.com/browse/CI-4735

[2021-06-09 15:23] shazron commented on #134
Since we are not supporting node 10 anymore (and moved to node 14), can we upgrade this? @moritzraho

[2021-06-09 15:26] shazron commented on #134
related: https://github.com/adobe/generator-aio-console/issues/26

[2021-06-10 08:12] moritzraho commented on #134
Yes I am planning to work on this one, just want to finish the integration with xt reg first

[2021-06-28 21:01] purplecabbage commented on #130
https://git.corp.adobe.com/OpenSourceAdvisoryBoard/opensource_submission_process/issues/1075

[2021-08-03 01:18] jdelbick opened #157 "asset-compute worker test file structure is missing required folders"
### Expected Behaviour
When creating a project with Asset Compute Workers, the expected test file structure is this:
[code]
(see example here: https://github.com/adobe/asset-compute-example-workers/tree/master/projects/worker-azure-ai/test/asset-compute)

The test files need to be attached to workers since they only apply to specific workers, not all the workers in the project. Also, our [aio-cli-

[2021-08-03 03:49] shazron commented on #157
Verified that the tests don't have the prefix `asset-compute/[worker-name]` and will be putting out new unit tests and a patch (will update this issue with a link).

Since everything is an extension now however, all tests will be under the extension itself, and not the root.

[2021-08-03 04:25] shazron commented on #157
I tested my fix by modifying this in the asset-compute plugin: `const TEST_DIR = path.join("src", "dx-asset-compute-worker-1", "test", "asset-compute");`
[code]

For a new project, we don't generate a `manifest.yml` anymore so there may be further changes needed for your tests.

Each extension has its own `ext.config.yaml` in the root of the extension folder, this contains the extension's runtime

[2021-08-03 04:41] shazron commented on #157
PR https://github.com/adobe/generator-aio-app/pull/158

[2021-08-03 09:18] moritzraho commented on #157
@jdelbick this is actually deeper than only test files. @shazron posted a PR to fix the test asset-compute subfolder hieararchy, but this will not be enough, as the actually test folder or action folder could be anywhere, **there is no guarantee anymore that those folder are located in the root**.  This means all commands in the `asset-compute` plugin need to be updated to support latest changes.

[2021-08-03 14:55] jdelbick commented on #157
@moritzraho  @shazron Thank you so much! This is all very helpful.

That would be helpful since we don't currently have aio-cli-plugin-app as a dependency in our plugin: https://github.com/adobe/aio-cli-plugin-asset-compute/blob/master/package.json#L8-L25 (we only have it as a dev dependency)

[2021-08-03 15:59] jdelbick commented on #157
@moritzraho is it still guaranteed that the `.env` file will be in the root?

[2021-08-03 16:22] moritzraho commented on #157
For now yes 🙂

[2021-08-05 16:15] jdelbick commented on #157
another question, @moritzraho is this extension path `dx/asset-compute/worker/1` expected to change?
[code]
This path has to be hardcoded in our plugin so if this changes, we won't be able to find the location of nui config

[2021-08-06 06:38] shazron opened #159 "debug actions via `aio app run` for extensions (file not found)"
**Describe the bug**
Create a project with an extension, and run the app, and debug an action in an extension. It will error because the path to the action file has a duplicated path.

**To Reproduce**
`aio app run`
debug an action file in an extension
see the error

This is a bug in the `.vscode/launch.json` generator.

[2021-08-09 19:21] #159 closed

[2021-08-12 06:04] purplecabbage opened #161 "?? Seriously ?? => please use a name that matches "^[a-zA-Z0-9][a-zA-Z0-9-]{2,31}$""
### Expected Behaviour
User is told how to correct their input in friendly terms that are easily understood.

### Actual Behaviour
User is forced to parse regex to understand what they did wrong.

#### Steps to Reproduce
run `aio app add action`
when prompted for a name, enter 1 character

#### Logs taken while reproducing problem
[code]

[2021-08-13 02:10] purplecabbage commented on #157
@jdelbick answering your question, no the extension point id dx/asset-compute/worker/1 is not expected to change.
This is owned by your team, and you control it.  The expectation is that at some point you may come out with dx/asset-compute/worker/2 which would be a breaking change.
dx/asset-compute/worker/1 is a contract between a number of entities:
- tooling ( via generator, publishing )
- exten

[2021-08-31 06:36] #134 closed

[2021-09-07 09:44] meryllblanchet opened #166 "Require node 12 or greater"
### Expected Behaviour

https://github.com/adobe/aio-cli/blob/master/package.json#L56

### Actual Behaviour

Engine rules missing from `package.json`

[2021-10-06 17:44] #161 closed

[2021-10-11 12:34] meryllblanchet opened #176 "Multilingual support SPA"
A recurring ask from our users is whether do we support internationalization for the front-end or not.
React-Spectrum does support it, and we should either document how to enable this for a custom SPA, or showcase the multilingual support in our React-Spectrum 3 generator.

The raw HTML generator should be excluded from this enhancement.

[2021-10-12 07:27] #34 closed

[2021-10-12 07:30] #143 closed

[2021-10-12 07:31] #157 closed

[2021-12-07 11:53] duynguyen opened #179 "Update README with the latest app structure"
The README file of a newly created app contains instructions that are outdated, such as `manifest.yml`. It needs updated to guide people to develop the app correctly.

#### Steps to Reproduce

1. Run command `aio app init`
2. Follow all the steps of creating a new app
3. Open the new app in VSCode
4. Navigate to README.md
5. See that all the instructions are outdated (e.g. `manifest.yml`)

#### Pl

[2022-02-10 21:49] cpilsworth opened #182 "Generated README contains invalid command to run the e2e tests"
### Expected Behaviour
Command mentioned in the generated readme (`aio app test -e`)should run end-to-end tests

### Actual Behaviour
Tries to run tests for an unspecified extension leading to the error:
[code]
The `-e` flag should be replaced with `--e2e` to execute just the end to end tests.

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce
Run the command mentioned

[2022-02-11 00:36] #182 closed

[2022-02-23 22:14] purplecabbage opened #184 "dotFiles copied not renamed"
The files [`_dot.env`, `_dot.gitignore`] are copied into the project on create/init where they get renamed to [`.env`, `.gitignore`] but the original files are still present, so the user has to delete the `_dot` versions.

### Expected Behaviour
Files are renamed on create/init

### Actual Behaviour
Files are duplicated, and renamed, so there are 2 versions

### Reproduce Scenario (including but n

[2022-03-05 23:26] easingthemes opened #186 "Add AEM Headless Client acction"
https://github.com/adobe/aem-headless-client-nodejs/issues/2

[2022-04-13 03:34] shazron opened #189 "delete-ci generator - move into app plugin"
For `aio app delete` one of the options is `delete ci`. `delete ci` is the only option that requires a generator, and the code is minimal and should be moved into the app plugin.

[2022-06-02 13:57] shazron opened #191 "local debugging is not working"
## Expected

Debugging using the local Openwhisk server via `aio app run --local` works

## Actual

Debugging using the local Openwhisk server via `aio app run --local` actually goes to the remote server.

## Investigation

The `.vscode/launch.json` file that is created on `aio app run --local` has a property called `envFile` that points to a file that contains the Openwhisk credentials for the lo

[2022-06-02 15:25] shazron commented on #191
Related: https://github.com/adobe/aio-cli-plugin-app/issues/542

[2022-06-04 14:18] #191 closed

[2022-06-08 12:27] #184 closed

[2022-07-13 12:32] #179 closed, assigned to MichaelGoberling

[2022-08-01 11:35] meryllblanchet opened #198 "Broken README link"
### Expected Behaviour

The link to [experience cloud shell react generator](https://github.com/adobe/generator-aio-app/blob/master/generators/add-web-assets/exc-react/index.js) points to the relevant source file.

### Actual Behaviour

Clicking on the link leads to a 404. Where did that code go?

[2022-08-01 11:43] shazron commented on #198
It is here now, it is a template https://github.com/adobe/generator-app-excshell that will be installed by `aio app init` by querying the Template Registry API. Upcoming feature.

[2022-08-01 11:49] meryllblanchet commented on #198
Thanks for the pointer, Shaz!

[2022-08-01 11:53] shazron commented on #198
Fixed the link

[2022-08-01 11:58] meryllblanchet commented on #198
Works! Closing the issue, thanks for the quick fix ;-)

[2022-08-01 11:58] #198 closed

[2022-08-05 15:16] moritzraho opened #199 "Generated readme needs a refresh"
For example there are mentions to `manifest.yml` which is our old way to configure actions.
I would recommend keeping this one short and reference public doc instead, it allows the user to more easily take ownership of the README and it is way better for us to maintain.

[2022-10-12 12:38] shazron commented on #189
Fixed by #200

[2022-10-12 12:38] #189 closed

[2022-10-12 12:39] shazron commented on #166
Done

[2022-10-12 12:39] #166 closed

[2022-10-12 12:40] shazron commented on #130
Done. https://github.com/adobe/aio-pkg-utils

[2022-10-12 12:43] shazron commented on #199
Fixed in #197
https://github.com/adobe/generator-aio-app/blob/master/generators/base-app/templates/README.md

[2022-10-12 12:43] #199 closed

[2022-10-12 13:00] shazron opened #204 "@adobe/generator-aio-app Version 5 Plan"
## This Repo

The removal of the generators is because it has been integrated to the app plugin (in the case of delete-ci) or they have been integrated to the App Builder Template Registry (in the case for the add-action generators). The `add-action` generators are pending open sourcing and publishing to npm and the Template Registry.

- [X] removal of delete-ci generator https://github.com/adobe/

[2022-10-20 05:23] shazron commented on #204
See PR #206